.overlay { 
height: 0%; 
width: 100%; 
position: fixed; 
z-index: 1; 
bottom: 0; 
left: 0; 
background-color: green; 
background-color: rgba(0.6,0.8,0.8,0.8); 
overflow-y: hidden; 
transition: 0.5s; 
} 
#open{
	margin-top:-70px;
	float: right;
	font-size: 2em;
}

.overlay-content_under { 
	margin-top:100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	
} 
#mape_search{
	display: flex;
	justify-content: center;
	margin-top:15px;
}
#adrese{
	margin:0 auto;
	width: 70%;
	height: 30px;
	
}
#attalums{
	margin:0 auto;
	width: 15%;
	height: 30px;
	
}
#filter_block{
	flex-basis: 13%; 
	border:2px  solid black;
	overflow:auto;
	box-sizing: border-box;
	background-color: #fafafa;  
	word-wrap:break-word;
	height: 200px;
}

select{
	height: 195px;
	width: 100%;
  overflow: hidden;
}

.onoff {
  float: right;
  margin-right: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *display: inline;
  position: relative;
  cursor: pointer;
  width: 50px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.onoff label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #cd3c3c;
  border-radius: 5px;
  font-weight: bold;
  color: #FFF;
  -webkit-transition: background 0.3s, text-indent 0.3s;
  -moz-transition: background 0.3s, text-indent 0.3s;
  -o-transition: background 0.3s, text-indent 0.3s;
  transition: background 0.3s, text-indent 0.3s;
  text-indent: 27px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) inset;
}

.onoff label:after {
  content: 'NO';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  font-size: 11px;
  color: #591717;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
}
.onoff label:before {
  content: '';
  width: 15px;
  height: 18px;
  border-radius: 3px;
  background: #FFF;
  position: absolute;
  z-index: 2;
  top: 3px;
  left: 3px;
  display: block;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.onoff input:checked + label {
  background: #378b2c;
  text-indent: 8px;
}
.onoff input:checked + label:after {
  content: 'YES';
  color: #091707;
}
.onoff input:checked + label:before {
  left: 37px;
}

#kopmitne{
	margin-top: 20px;
}
.icon{
	width: 200px;
	height: 200px;
	background: blue;
	border:none;
}

.overlay a { 
padding: 8px; 
text-decoration: none; 
font-size: 36px; 
color: #818181; 
display: block; 
transition: 0.3s; 
} 

.overlay a:hover, .overlay a:focus { 
color: #f1f1f1; 
} 

.overlay .closebtn { 
position: absolute; 
top: 0px; 
right: 0px; 
font-size: 40px; 
} 

@media screen and (max-height: 450px){ 
.overlay {overflow-y: auto;} 
.overlay a {font-size: 20px} 
.overlay .closebtn { 
font-size: 40px; 
top: 15px; 
right: 35px; 
} 
} 