*{
	margin: 0;
	padding: 0;
	outline: 0;
}
html{height: 100%;}
body{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
header{
	width: 99.7%;
	min-height: 80px;
	background: url(img/road.jpg) no-repeat;
	border:2px solid black;
}
.name{
	height: 5em;
	display: flex;
	align-items: center;
	justify-content: center;
}
#title {
	color: yellow;
	font-size: 3em;
}

